<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link href="/css/LoginCss.css" rel="stylesheet"  type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet" type="text/css">

</head>
<body>
    <div class="login-container">
        <div class="title">
            <h1>Homantin Plaza</h1>
        </div>

        <img class="logo" src="/graphics/logo.svg" alt="Account Icon" width="120">
        <form action="/login" method="post">
            <div class="input-group">
                <input type="text" id="account" placeholder="Account" name="name">
            </div>
            <div class="input-group">
                <input type="password" id="password" placeholder="Password" name="password">
            </div>
            <button id="login-button" type="submit">Login</button>
        </form>
        <% if (error == true) { %>
        <p class="error-message" id="error-message">Incorrect account or password</p>
        <% }%>
        <a href="#">Forgot password?</a>
    </div>

</body>
</html>