<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css\main.css">
    <link rel="stylesheet" href="/css/messageCss.css">
   
</head>
<body>
    <div class="header">
        <div class="logo">
            <img src="/graphics/logo2.svg" alt="Logo">
            <span class="title">Homantin Plaza</span>
        </div>
        <div class="user-info">
            <span class="user-name" id="user-name">Customer Service System　|</span>
            <span class="user-name" id="user-name">Harry</span>
            <button class="logout-button" onclick="location.href='/logout'">LOG OUT</button>
        </div>
    </div>

    <div class="container">
        

    
    <div class="main-content">
        <div class="messageform-container">
            <div class="news-item-header">
                <h3>Confirm</h3>
                <p>confirm xxx改做yyy?</p>
             <div>
                <button class="close-button" onclick="location.href='/check'">Close</button>
                <button class="confirm-button" onclick="location.href='/check'">Confirm</button>
                
             </div>
             
            </div>
        </div>
    </div>
</div>
</body>
</html>