<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/newsCss.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="header">
        <div class="logo">
            <img src="graphics/logo2.svg" alt="Logo">
            <span class="title">Homantin Plaza</span>
        </div>
        <div class="user-info">
            <span class="user-name" id="user-name">Customer Service System　|</span>
            <span class="user-name" id="user-name">Harry</span>
            <button class="logout-button" onclick="location.href='/logout'">LOG OUT</button>
        </div>
    </div>

    <div class="container">
        <div class="sidebar">
            <a href="/customerServices" class="active">MALL NEWS</a>
            <p></p>
            <a href="/flight">SHOP INFORMATION</a>
            <p></p>
            <a href="/claim">CLAIM/REPORT LOST</a>
            <p></p>
            <a href="/lostlist" >LOST LIST</a>
        </div>
        <div class="main-content">
            <div class="mallnewstitle">
                <span class="mallnews-title">MALL NEWS</span>
                <button class="uploadnews-button" onclick="location.href='/logout'">UPLOAD NEWS +</button>
            </div>
            
            <div class="news-section" id="news-section">
                <!-- News items will be dynamically inserted here -->
                <% for(let i=0; i < news_obj_array.length; i++) {%>
                    <div class="news-item">
                    <div class="news-item-header">
                        <h3><%= news_obj_array[i].title %></h3>
                        <img src="graphics/warning.png" alt="Icon" class="icon">
                       
                    </div>
                    <p><%= news_obj_array[i].summary%></p>

                    <div>
                        <span><%= news_obj_array[i].time%></span>
                        <button class="delete-button" onclick="location.href='/logout'">DELETE</button>
                    </div>
                    
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</body>
</html>