.mallnewstitle{
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 25px;
    display: flex;
    align-items: center;
}


.uploadnews-button {
    margin-left: auto;
    padding: 10px 20px;
    margin-left: auto;
    background-color: #715db1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


.uploadnews-button:hover {
    background-color: #524481;
}


.delete-button {
    padding: 10px 20px;
    margin-left: auto;
    background-color: #ce3732;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.news-item div {
    display: flex;
    align-items: center;
}

.delete-button:hover {
    background-color: #8e0808;
}

.container {
    display: flex;
    flex: 1;
    margin-top: 60px;
}

.news-section {
    padding: 5px;
    margin-bottom: 20px;
}

.news-item {
    margin-bottom: 25px;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.news-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news-item h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    flex-grow: 1;
}

.news-item p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
}

.news-item span {
    font-size: 12px;
    color: #888;
}

.icon {
    margin-left: 10px;
    height: 24px;
    width: 24px;
}